
@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}


<h1 style="text-align:center; margin-top:20%;"><span style="color:#f9004d;">@ViewBag.user</span> is not Authorized!!</h1>
<a asp-controller="Product" asp-action="Index" style="margin-left:45%;">Back</a>
