
@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}


<h1 style="text-align:center; margin-top:20%;"><span style="color:#f9004d;">@ViewBag.user</span> is not Authorized to LogIn!!</h1>
<a asp-controller="User_Setup" asp-action="User_Login" style="margin-left:45%;">Back</a>
